.initial{
  background: var(--branco); 
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .aviso{
  margin-bottom: 6px;
  width: 60%;
  font-size: 15px;
  opacity: 0;
  color: red;
  text-align: right;
}
.login .aviso.show{
  opacity: 1;
}
.login p{
  font-size: 40px;
  color: var(--fundo3);
  font-weight: 500;
}
.login .placa p{
  font-size: 40px;
  color: var(--branco);
  font-weight: 500;
}
.login .placa{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .placa button{
  border-radius: 20px;
  color: var(--fundo3);
  background: var(--branco);
  font-size: 20px;
  font-weight: 300;
  height: 34px;
  width: 120px;
  border: none;
}
.login .placa button:hover{
  cursor: pointer;
  color: var(--branco);
  background: transparent;
  border: 1px solid var(--branco);
}
.login{
  box-shadow: 0px 0px 6px var(--sombra);
  display: flex;
  width: 70%;
  height: 70%;
}
.login .entrada{
  background: var(--branco);
  width: 60%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 2px;

}
.login .lado-esquerdo button, .login .lado-direto button{
  background: var(--fundo2);
  color: white;
  height: 50px;
  outline: none;
  border: none;
  width: 60%;
}
.login .lado-esquerdo button:hover, .login .lado-direto button:hover{
  background: white;
  color: var(--fundo3);
  cursor: pointer;
  border: 2px solid var(--fundo3);
}
.login .entrada img{
  margin-right: 9px;
  width: 20px;
  height: auto;
}
.login .entrada input{
  font-size: 17px;
  outline: none;
  background: transparent;
  border: none;
}
.login .lado-direto, .login .lado-esquerdo{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.login .placa p{
  margin-bottom: 20px;
}
.login .placa h4{
  width: 60%;
  text-align: center;
  margin-bottom: 50px;
}
.login .placa{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--branco);
  transition: all 0.2s ease-in-out;
  z-index: 10;
  width: 37%;
  height: inherit;
  position: absolute;
  background: linear-gradient(to bottom right ,var(--fundo4), var(--fundo2));
}
.login .lado-direto{
  background: white;
}
.login .lado-esquerdo{
  background: white;
}
.login .loading.show{
  display: flex;
}
.login .loading{
  display: none;
  width: 35%;
  height: 70%;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.404);
}
.login .mensagem.aviso.show{
  display: flex;
}
.login  .mensagem.show{
  display: flex;
}
.login  .mensagem{
  text-align: center;
  animation: erro 0.3s linear;
  background: rgba(255, 0, 0, 0.068);
  border: 1px solid red;
  padding: 3px 20px;
  font-weight: 300;
  font-size: 15px;
  color: red;
  display: none;
  text-transform: uppercase;
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--fundo2);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
.login .lado-esquerdo .avisos.show{
  display: flex;
}
.login .lado-esquerdo .avisos{
  display: none;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 2px;
  width: 60%;
  text-align: left;
  font-size: 12px;
  color: red;
  font-weight: 300;
}
.login .lado-esquerdo .avisos strong{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid red;
  font-weight: 500;
  font-size: 8px;
}
.login .sugestao{
  align-items: center;
  height: 35px;
  width: 60%;
  display: none;
  justify-content: flex-end;
}
.login .sugestao p{
  font-size: 15px;
  font-weight: 200;
  color: var(--fundo2);
  height: 20px;
  border-bottom: 1.7px solid var(--fundo2) ;
}
.login .sugestao p:hover{
  cursor: pointer;
  color: var(--fundo-branco);
  border-bottom: 1px solid var(--fundo-branco) ;

}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes erro {
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}
@media screen and (max-width:600px) {
  .login .lado-direto, .login .lado-esquerdo{
    height: 70%;
    width: 70%;
    position: absolute;
  }
  .login{
    height: 70%;
    width: 70%;
  }
  .login .placa{
    display: none;
  }
  .login .sugestao{
    width: 70%;
    display: flex;
  }
  .login .sugestao p{
    font-size: 10px;
  }
  .login  .mensagem{
    width: 70%;
  }
}
@media screen and (max-width:700px) {
  .login p {
    font-size: 20px;
  }
  .login .placa p {
    font-size: 20px;
  }
  .login .placa h4{
    font-size: 10px;
  }
  .login .entrada input {
    width: 100px;
    font-size: 10px;
  }
  .login .entrada {
    width: 73%;
    height: 20px;
  }
  .login .entrada img {
    width: 10px;
  }
  .login .aviso {
    font-size: 10px;
  }
  .login .lado-esquerdo button, .login .lado-direto button {
    font-size: 10px;
    width: 73%;
    height: 30px;
  }
  .login .placa button{
    font-size: 10px;
    height: 25px;
  }
}