#erro img{
  animation: icon 0.8s linear;
  width: 30%;
  height: auto;
}
#erro button{
  color: var(--branco);
  height: 40px;
  width: 40%;
  font-size: 20px;
  background: red;
  border: none;
}
#erro button:hover{
  cursor: pointer;
  border: 1px solid red;
  background: white;
  color: red;
}
#erro p{
  color: black;
  width: 70%;
  text-align: center;
  font-weight: 200;
  padding-bottom: 20px;
}