.loading.show{
    display: flex;
  }
#hold{
  display: none;
}
#principal{
    right: 0;
    display: flex;
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: 100;
    justify-content: center;
    align-items: center;
    background: rgba(49, 47, 47, 0.384);
  }
  
@media screen and (max-width:600px) {
  #principal{
        width: 100%;
    }
}