.sidebar{
    color: white;
    position: fixed;
    left: 0;
    height: 100%;
    background:#141414;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sidebar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 0.1px solid var(--branco);
}
@font-face {
    font-family: Boogie;
    src: url("../../font/BoogieBoys.otf");
}
.sidebar .logo p{
    font-family: Boogie;
    font-size: 45px;
    color: var(--branco);
}
.sidebar img{
    width: 40px;
    height: auto;
}
.sidebar .ops{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
}
.sidebar .ops .li{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.sidebar .ops .icon{
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.sidebar .ops .li:nth-child(1) .icon{
    background-image: url("../../img/home.png");
}
.sidebar .ops .li:nth-child(2) .icon{
    background-image: url("../../img/cad.png");
}
.sidebar .ops p{
    font-weight: 200;
    transform: all 0.2s ease-in;
    text-align: center;    
    padding: 6px;
    height: 30px;
    width: 120px;
    color: var(--branco);
}
.sidebar .ops .li:hover{
    color: var(--branco);
    cursor: pointer;
    background: var(--fundo);
}
@media screen and (max-width:700px) {
    .sidebar{
        font-size: 10px;
    }
    .sidebar .ops .icon{
        width: 20px;
    }
}
@media screen and (max-width:600px) {
    .sidebar{
        display: none;
    }
}