.pesquisa{
    position: fixed;
    box-shadow: 0px 0px 7px var(--sombra);
    background: var(--barra-pesquisa) ;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pesquisa .visita::before{
    content: "Ordem de vistias";

  }
.pesquisa .visita {
    background: var(--fundo-branco);
    height: 30px;
    width: 130px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    margin-left: 20px;
    font-size: 15px;
}
.pesquisa .visita:hover{
  color: white;
  background: transparent;
  outline: 1px solid white
}
  .pesquisa .input{
    box-shadow: 0px 0px 3px var(--sombra);
    width: auto;
    height: 30px;
    display: flex;
    margin-left: -15%;
  }
  .pesquisa .input input, .pesquisa .input select{
    border: none;
    outline: none;
    height: 100%;
  }  
  .pesquisa .input input{
    padding-left: 7px;
    width: 350px;
  }
  .pesquisa .input select{
    font-weight: 300;
    color: rgb(138, 138, 138);
    padding: 6px;
  }
  .pesquisa button{
    outline: none;
    border: none;
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1/1;
    background: rgb(99, 198, 108);
  }
  .pesquisa .lista:focus{
    animation: girar 0.2s ease-in-out;
  }
  .pesquisa .mini-menu::before{
    margin-left: 10px;
    margin-top: -12px;
    display: flex;
    content: "";
    width: 50px;
    height: 50px;
    transform: rotateZ(-45deg);
    background: var(--fundo-branco);
  }
  .pesquisa .mini-menu.show{
    display: inline;
  }
  .pesquisa .mini-menu{
    animation: aparecer 0.4s ease-in-out;
    display: none;
    color: var(--branco);
    margin-top: 210px;
    left:4%;
    background: var(--fundo-branco);
    position: absolute;
    width: 100px;
    height: 150px;
  }
  .pesquisa .mini-menu p{
    text-align: center;
    width: 100%;
    height: 25px;
  }
  .pesquisa .lista{
    width:auto;
    margin-left:20px;
    width: 20px;
    height: 20px;
  }
  .pesquisa button img{
    width: 10px;
    height: auto;
  }
  @media screen and (max-width:600px) {
    .pesquisa .lista{
      margin-right: 10px;
    }
    .pesquisa .input{
      margin: 0;
      width: 50%;
    }
    .pesquisa .input input{
      width: 80%;
    }
    .pesquisa .visita{
      width: 20%;
    }
    .pesquisa .visita:before{
      content: "Ordem";
    }
    #principal{
      width: 100%;
    }
  }
  @keyframes girar {
    0%{
      transform: rotateZ(180deg);
    }
    100%{
      transform: rotateZ(0deg);
    }
  }
  @keyframes aparecer {
    0%{
      opacity: 0;
      transform: translateY( -30px);
    }
    50%{
      opacity: 0.3;
      transform: translateY( -20px);

    }
    100%{
      opacity: 1;
      transform: translateY( 0);
    }
  }