:root{
  --branco:#F1ECFF;
  --branco2:#E2D8FF;
  --branco3:#D3B6FF;
  --fundo:#5D36FF;
  --fundo2:#470CED;
  --fundo3:#2C13AD;
  --fundo4:#1C0C6E;
  --fundo5:#0E0637;
  --fundo-branco:#7858ff;
  --sombra:#1c0c6e8f;
  --barra-pesquisa:rgb(2, 131, 170);
}
@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Thin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular.ttf");
    font-weight: 200;
  }
  @font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Medium.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Light.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Bold.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Black.ttf");
    font-weight: 600;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    transition: all 0.2s;
  }
.App{
  color: var(--fundo);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.493);
  justify-content: center;
  align-items: center;
  display: none;
}
.popup.show{
  display: flex;
}
.popup .modal img{
  animation: icon 0.4s linear;
}
.popup .modal.show{
  animation: popup 0.5s cubic-bezier(0.4, 0, 1, 1);
  display: flex;
}
.popup .modal{
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 60%;
  background: white;
  box-shadow: 0px 0px 7px var(--sombra);
}
@keyframes icon {
  0%{
    transform: rotateZ(80deg);
    scale: 0;
  }
  100%{
    transform: rotateZ(0deg);
    scale: 1;
  }
}
@keyframes popup {
  from{
    scale: 0;
  }
  to{
    scale: 1;
  }
}
@media screen and (max-width:700px) {
  .popup .modal{
    font-size: 12px;
  }
}
