#ordem {
  height: 80%;
}
#ordem{
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#ordem .resultado-pesquisa{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 82%;
}
#ordem button{
  margin-bottom: 20px;
}
#ordem .roll{
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
#ordem  .titulo{
  color: var(--branco);
  background: var(--fundo-branco);
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 100px;
  font-size: 25px;
  width: 100%;
  font-weight: 300;
}
#ordem .resultado{
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 93%;
}
#ordem .resultado .titulos p{
  font-weight: 300;
}
#ordem .resultado .titulos p, #ordem  .resultado .linha p{
  padding: 0;
  text-align: center;
  color: rgb(75, 75, 75);
  font-size: 15px;
  width: 40%;
}
#ordem .resultado .titulos{
  border-bottom: 2px solid rgb(75, 75, 75) ;
}
#ordem .resultado .titulos, #ordem  .resultado .linha{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}
#ordem .resultado #preto{
  background: rgb(238, 238, 238);
}
#ordem .resultado #branco{
  background: transparent;
}
#ordem button{
  border-radius: 20px;
  color: var(--branco);
  height: 67px;
  width: 20%;
  font-size: 20px;
  background: var(--fundo-branco);
  border: none;
}
#ordem button:hover{
  cursor: pointer;
  border: 1px solid var(--fundo-branco);
  background: white;
  color: var(--fundo-branco);
}
@media screen and (max-width:600px) {
  #ordem {
    width: 85%;
  }
  #ordem button {
    width: 30%;
  }
}